# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
tsconfig.tsbuildinfo
dist-ssr
reports
.vite
*.local

# Editor directories and files
# .vscode/* # to have same config for everyone
*.tgz
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

*storybook.log